<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='serv6/design.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <button class="buttonBack"><a class="butBack" href="{{url_for('landingpage')}}">Back</a></button>
            <h1>Your imaginary friend</h1>
        </div>
        <div class="chat-messages" id="chat-messages">
            <div class="chat-message bot-message">
                <p>Welcome! How can I assist you today?</p>
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button onclick="sendMessage()">Let's talk</button>
            <button><a href="{{url_for('landingpage')}}" style="text-decoration: none; color: white;">Goodbye</a></button>
        </div>
    </div>
    <script>
        function appendMessage(message, sender) {
            const chatMessages = document.getElementById('chat-messages');
            const messageElement = document.createElement('div');
            messageElement.className = 'chat-message';
            messageElement.textContent = `${sender}: ${message}`;
            if (sender === 'AI') {
                messageElement.classList.add('bot-message');
            } else {
                messageElement.classList.add('user-message');
            }
            chatMessages.prepend(messageElement);
            
        }

        function sendMessage() {
            const userInput = document.getElementById('user-input').value;
            appendMessage(userInput, 'You');

            // Envoi de la requête au serveur Flask
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: userInput })
            })
            .then(response => response.json())
            .then(data => {
                appendMessage(data, 'AI');
            })
            .catch(error => {
                console.error('Error:', error);
            });

            // Efface le champ de saisie après l'envoi du message
            document.getElementById('user-input').value = '';
        }
    </script>
</body>
</html>
